name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    # uv for package management
    - name: Install uv
      run: pip install uv
    
    # -e flag installs in editable mode, like local
    - name: Install dependencies
      run: uv pip install --system -e ".[dev]" 
    
    - name: Run tests with pytest
      run: uv run pytest tests/ -v

    - name: Run tests with pytest
      run: uv run pytest tests/ -v --cov=phsh --cov-report=xml
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
